<accordion>
    <accordion-group>
        <button
        class="btn btn-link btn-block justify-content-between d-flex w-100  shadow-none"
        style="text-decoration: none !important;"
        accordion-heading type="button">
        <div class="pull-left float-left">{{titulo}}</div>
        <button class="btn btn-sm btn-danger float-right pull-right" (click)="removerAccordion()">Remover</button>
      </button>
        <div class="row mb-2">
            <div class="col-6">
                <div class="form-group">
                    <span class="input-title">Altura</span>
                    <input type="number" 
                    step=".01" 
                    [disabled]="isJanelaPorta" 
                    [min]="!isJanelaPorta ? 0.1 : 0" 
                    [(ngModel)]="item.altura" 
                    (change)="validarAlteracoes()"
                    class="form-control form-control-sm">                                    
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <span class="input-title">Largura</span>
                    <input type="number" 
                    step=".01" 
                    [disabled]="isJanelaPorta" 
                    [min]="!isJanelaPorta ? 0.1 : 0"
                    [(ngModel)]="item.largura" 
                    (change)="validarAlteracoes()"
                    class="form-control form-control-sm">   
                </div>
            </div>
        </div>
        <ng-content select="[content]"></ng-content>
    </accordion-group>
</accordion>