<div class="container h-100 py-5">

    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Calcular tamanho dos baldes de tinta</h5>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex">
                            <h5 class="card-title">Paredes</h5>
                            <a class="btn btn-sm btn-danger ms-auto" (click)="restaurarSala()">Restaurar</a>
                            <a class="btn btn-sm btn-primary ms-1" (click)="adicionarParede()">Adicionar parede</a>
                            <a class="btn btn-sm btn-success ms-1" (click)="calcularBaldes()">Calcular Baldes</a>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2" *ngFor="let parede of sala.paredes; let indexParede = index;">
                                <div class="col-12">
                                    <app-accordion [item]="parede" [titulo]="contadorTitulo(indexParede)" (removerItem)="removerItem(indexParede, sala.paredes)">
                                        <div class="row" content>
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-header d-flex">
                                                        <h5 class="card-title">Janelas</h5>
                                                        <a class="btn btn-sm btn-primary ms-auto" (click)="adicionarJanela(parede)">Adicionar Janela</a>
                                                    </div>
                                                    <div class="card-body">
                                                        <app-accordion *ngFor="let janela of parede.janelas; let indexJanela = index;" 
                                                        [item]="janela" 
                                                        [titulo]="contadorTitulo(indexJanela)" 
                                                        (removerItem)="removerItem(indexJanela, parede.janelas)"
                                                        [isJanelaPorta]="true"></app-accordion>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-header d-flex">
                                                        <h5 class="card-title">Portas</h5>
                                                        <a class="btn btn-sm btn-primary ms-auto" (click)="adicionarPorta(parede)">Adicionar Porta</a>
                                                    </div>
                                                    <div class="card-body">
                                                        <app-accordion *ngFor="let porta of parede.portas; let indexPorta = index;" 
                                                        [item]="porta" 
                                                        [titulo]="contadorTitulo(indexPorta)" 
                                                        (removerItem)="removerItem(indexPorta, parede.portas)"
                                                        [isJanelaPorta]="true"></app-accordion>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </app-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>